body {
    background-color: #ccf5f5;
}

#gameholder {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

#title {
    width: 600px;
    height: 150px;
    background-image: url('../img/penguin_title.png');
}

#mound1 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_1.png');
}

#mound1:hover {
    background-image: url('../img/mound_1_hover.png');
    cursor: pointer;
}

.penguin1-reveal {
    background-image: url('../img/penguin_1.png') !important;
}

#mound2 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_2.png');
}

#mound2:hover {
    background-image: url('../img/mound_2_hover.png');
    cursor: pointer;
}

.penguin2-reveal {
    background-image: url('../img/penguin_2.png') !important;
}

#mound3 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_3.png');
}

#mound3:hover {
    background-image: url('../img/mound_3_hover.png');
    cursor: pointer;
}

.penguin3-reveal {
    background-image: url('../img/penguin_3.png') !important;
}

#mound4 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_4.png');
}

#mound4:hover {
    background-image: url('../img/mound_4_hover.png');
    cursor: pointer;
}

.penguin4-reveal {
    background-image: url('../img/penguin_4.png') !important;
}

#mound5 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_5.png');
}

#mound5:hover {
    background-image: url('../img/mound_5_hover.png');
    cursor: pointer;
}

.penguin5-reveal {
    background-image: url('../img/penguin_5.png') !important;
}

#mound6 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_6.png');
}

#mound6:hover {
    background-image: url('../img/mound_6_hover.png');
    cursor: pointer;
}

.penguin6-reveal {
    background-image: url('../img/penguin_6.png') !important;
}

#mound7 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_7.png');
}

#mound7:hover {
    background-image: url('../img/mound_7_hover.png');
    cursor: pointer;
}

.penguin7-reveal {
    background-image: url('../img/penguin_7.png') !important;
}

#mound8 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_8.png');
}

#mound8:hover {
    background-image: url('../img/mound_8_hover.png');
    cursor: pointer;
}

.penguin8-reveal {
    background-image: url('../img/penguin_8.png') !important;
}

#mound9 {
    width: 200px;
    height: 200px;
    float: left;
    background-image: url('../img/mound_9.png');
}

#mound9:hover {
    background-image: url('../img/mound_9_hover.png');
    cursor: pointer;
}

.yeti-reveal {
    background-image: url('../img/yeti.png') !important;
}
